:root {
  --my-orange: #ea7900;
  --my-back: #f5f7fa;
  --my-sidebar: #1e2939;
  --middle-dark: #595959;
  --light-dark: #a8a8a8;
  --my-white: white;
  --my-black: black;
}
body {
  background-color: var(--my-back);
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1100px;
  background: var(--my-white);
  margin: 20px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* Main content section */
.main-content-section {
  padding: 50px 50px 0px 50px;
}
/* About me section */
.about-me-section {
  margin: 0 0 20px 0;
}
.about-me-profession {
  font-weight: bold;
  font-size: 24px;
  line-height: 17px;
  color: var(--my-black);
  margin: 0 0 20px 0;
}
.about-me-name {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: var(--my-black);
  margin: 0 0 25px 0;
}
.about-me-text {
  width: auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--my-black);
  margin: 0 0 25px 0;
}
/* My projects section */
.my-section {
  margin: 0 0 30px 0;
}
.my-section-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: var(--my-black);
  margin: 0 0 10px 0;
}
.my-projects-list {
  padding: 0 0 0 17px;
  margin: 10px 0 0 0;
}
.my-projects-list-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: var(--middle-dark);
}
.my-projects-list-text {
  color: var(--my-orange);
  margin-left: 0px;
}
.my-projects-list-link {
  font-weight: normal;
  color: var(--my-black);
  text-decoration: none;
}
/* My work experience section */
.my-work-experience-company {
  margin: 0 15px 0 0;
}
.company-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--my-orange);
  margin: 0 0 10px 0;
}
.company-position {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--middle-dark);
  margin: 0 0 10px 0;
}
.company-period {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: var(--middle-dark);
  margin: 0 0 10px 0;
}
.company-divider {
  color: var(--my-black);
}
.company-duties {
  padding: 0 0 0 18px;
  margin: 10px 0 15px 0;
}
.company-duties-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--middle-dark);
}
/* My education section */
.education-institution {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--my-orange);
  margin: 0 0 10px 0;
}
.education-speciality {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: var(--middle-dark);
  margin: 0 0 10px 0;
}
.education-period {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: var(--middle-dark);
  margin: 0 0 10px 0;
}
.education-divider {
  color: var(--middle-dark);
}
/* Sidebar section */
.sidebar-section {
  background: var(--my-sidebar);
  width: 280px;
  padding: 20px 10px 40px 0px;
}
.contacts-section {
  width: 280px;
  margin: 50px 0 0 40px;
}
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}
.sidebar-title {
  color: var(--my-white);
  font-weight: bold;
  font-size: 22px;
  line-height: 1em;
  margin-bottom: 10px;
}
/* Contacts section */
.contacts-list {
  list-style: none;
  padding: 0;
}
.contacts-item {
  display: flex;
  margin-bottom: 5px;
}
.contacts-section-type {
  color: var(--my-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 7px;
}
.contacts-section-link {
  color: var(--my-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  margin-left: 5px;
}
/* Tech and soft skills sections */
.skills-list {
  padding-left: 17px;
  padding-right: 45px;
  color: var(--my-orange);
}
.skills-text {
  color: var(--my-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}