body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: white;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* Main content section */
.main-content-section {
  padding: 100px 90px;
}
/* About me section */
.about-me-section {
  margin: 0 0 40px 0;
}
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 17px;
  color: #000;
  margin: 0 0 20px 0;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}
.about-me-text {
  width: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  margin: 0 0 25px 0;
}
/* My projects section */
.my-section {
  margin: 0 0 50px 0;
}
.my-section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin: 0 0 10px 0;
}
.my-projects-list {
  padding: 0 0 0 17px;
  margin: 10px 0 0 0;
}
.my-projects-list-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.my-projects-list-text {
  font-weight: normal;
  color: #595959;
  margin-left: 5px;
}
.my-projects-list-link {
  font-weight: normal;
  color: #595959;
}
/* My work experience section */
.my-work-experience-company {
  margin: 0 15px 0 0;
}
.company-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}
.company-title {
  color: #fb6d3a;
}
.company-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.company-divider {
  color: #000;
}
.company-duties {
  padding: 0 0 0 18px;
  margin: 10px 0 15px 0;
}
.company-duties-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* My education section */
.education-institution {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}
.education-speciality {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}
.education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.education-divider {
  color: #000;
}
/* Sidebar section */
.sidebar-section {
  background: #1e2939;
  width: 370px;
  padding: 40px 0px;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}
.sidebar-title {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
/* Contacts section */
.contacts-list {
  list-style: none;
  padding: 0;
}
.contacts-item {
  display: flex;
  margin-bottom: 5px;
}
.contacts-section-type {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 7px;
}
.contacts-section-link {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  margin-left: 5px;
}
/* Tech and soft skills sections */
.skills-list {
  padding-left: 17px;
  padding-right: 45px;
  color: #fb6d3a;
}
.skills-text {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
